body{
    background-color: rgb(24, 42, 58);
}

.container-main{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-left: 1em;
    margin: 1em;
   
}

.container-box{
    width: 300px;
    background-color: rgb(238, 36, 228);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}
